h1 {
    text-align: center;
    height: 70px;
    border-bottom-style: solid;
    border-width: medium;
    border-radius: 5px;
    border-color: rgb(182, 37, 37);
    color: rgb(182, 37, 37);
    font-family: Monospace;
}

ul {
    
    text-align: center;
}
li {
    font-size: large;
    font-family: Monospace;
    width: 220px;
    height: 40px;
    margin-left: 800px;
    padding-top: 10px;
    margin-bottom: 30px;
    list-style-type: none;
    border-left: 5px solid red;
    
}